<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
            <listener class-name="web.demoblaze.utility.ListenerSetup" />
            <listener class-name="web.demoblaze.utility.ExtentReporterNG" />
    </listeners>
	
<test thread-count="5" name="Test">
   

    <classes>
		<class name="web.demoblaze.testlayer.A_Registerpage_Test"/>
       <class name="web.demoblaze.testlayer.B_Loginpage_Test"/>
        <class name="web.demoblaze.testlayer.C_CartpageTest"/>
    </classes>
      
  </test> <!-- Test -->
</suite> <!-- Suite -->
